.home article {
  padding: 10px 0px;
}

.home article h4 {
  padding: 7px 0px;
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
}

.home article p {
  font-size: 14px;
  font-weight: lighter;
}