header {
  position: relative;
}

header img {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.gradient {
  position: absolute;
  top: 80%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  z-index: 1;
  min-width: 100%;
  min-height: 20%;
}