.trips ul {
  list-style: square;
  padding: 20px 0px 0px 30px;
}

.trips li {
  margin-bottom: 20px;
}

.trips a {
  text-decoration: none;
  color: black;
}

.trips a:hover {
  text-decoration: underline;
}